{% extends "AcmeTestBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <h2>Search</h2>
            <form action="{{ path('acme_test_homepage') }}"  method="POST" id="" novalidate>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" name="search" id="search" class="search-query form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <input type="submit" value="Search" class="btn btn-danger">
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if result is empty and searchElement is not empty %}
        <ul class="list-group container">
            <li class="list-group-item">No Record Found.</li> 
        </ul>
    {% else %}
        <ul class="list-group container">
            {% for filename in result %}
                <li class="list-group-item">{{ filename }}</li>
                {% endfor %}
        </ul>
    {% endif %}
    
{% endblock body %}